.header {
  text-align: center;
}
//
// .album {
//   background-image: url("../../resources/images/album.jpeg");
// }
.expensive {
  color: red;
}
.inexpensive {
  color: green;
}
.moderate {
  color: orange;
}
.cart {
  margin-top: 35px;
}
